<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别不同的log保存到不同的文件 -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.90.82:5044</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="logstash"/>
    </root>
</configuration>